<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title">提示信息</h4>
    
</div>
<div class="modal-body">
    <label class="modal-message">{{text}}</label>
</div>
<div class="modal-footer">
    <button type="button" style="margin:0;" class="modal_btn modal_btn_cancel" ng-click="ok()">确定</button>
    <button type="button" style="margin:0;" class="modal_btn search_btn " ng-click="cancel()" autofocus="autofocus">取消</button>
</div>