<div class="modal-header" >
    <h4 class="modal-title">修改密码</h4>
</div>

<div class="modal-body psd-modal">
    <div class="form-inline" >
        <!--ng-show="user.StaffId=='00000000-0000-0000-0000-000000000000'"-->
        <label class="modal-message">原始密码</label><label style="color:red">&nbsp;*</label>
        <input class="form-control" type="password" ng-model="user.oldPassword" placeholder="请输入密码" maxlength="15" tooltip-is-open="showTips1" ng-keyup="resetTips()" uib-tooltip="{{passwordTips.one}}"/>&nbsp;&nbsp;&nbsp;
    </div>
    <div class="form-inline">
        <label class="modal-message">&emsp;新密码</label><label style="color:red">&nbsp;*</label>
        <input class="form-control" type="password" ng-model="user.newPassword" placeholder="请输入新密码" maxlength="15" tooltip-is-open="showTips2" ng-keyup="resetTips()" uib-tooltip="{{passwordTips.two}}"/>&nbsp;&nbsp;&nbsp;
    </div>
    <div class="form-inline">
        <label class="modal-message">确认密码</label><label style="color:red">&nbsp;*</label>
        <input class="form-control" type="password" ng-model="user.Password" placeholder="请再次输入新密码" maxlength="15" tooltip-is-open="showTips3" ng-keyup="resetTips()" uib-tooltip="{{passwordTips.three}}"/>&nbsp;&nbsp;&nbsp;
    </div>
</div>

<div class="modal-footer" style="padding: 10px;text-align:right;padding-right: 10px;">
    <button type="button" class="modal_btn search_btn" ng-click="editPsd()">保&nbsp;存</button>
    <button type="button"  class="modal_btn modal_btn_cancel" ng-click="closeDialog()">取&nbsp;消</button>
</div>

<!--<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</div>-->