<div class="h100">
    <!--顶部-->
    <div class="mt10_mb10" style="height:30px;">
        <input type="button" class="canclelbtn fr ml10 border1ccc" value="返 回" ng-click="goState()" />
    </div>

    <!--内容-->
    <div class="advicedetail" style="overflow-y: auto;">

        <div class="advicedetail_title">{{data.title}}</div>
        <div class="advicedetail_time">
            <span style="margin-right: 180px; color: #cccccc;">发布时间:&nbsp;{{data.inputdate}}</span>
            <span style="color: #cccccc;">来源:&nbsp;{{data.orgname}}</span>
        </div>
        <div ng-bind-html="data.details|parseHTML" class="advicedetail_details" style="overflow: auto;">

        </div>
        <div class="advicedetail_file">
            <ul style="height:100%;">
                <li ng-repeat="accitem in Attachments" >

                    <div style="height:40px;">
                        <div title="{{accitem.FileName}}" class="fl"> {{accitem.FileName|tooltips:30}}</div>
                        <div ng-show="canPreview(accitem.FileName)" class="fl advicedetail_btn" ng-click="preview(accitem.ID)">[查看]</div>
                        <div ng-click="downloadAccessory(accitem.ID)" class="fl advicedetail_btn">[下载]</div>
                    </div>

                </li>
            </ul>
        </div>

    </div>
</div>