<div class="h100">
    <div class="concent_center mt30">
        <input class="home_topsearch" type="text" ng-model="solrText" maxlength="100" placeholder="请输入关键字进行检索" ng-keypress="PressSolr($event)"
        />
        <span class="home_topsearch_icon curpointer" ng-click="Solr()">全文检索</span>
    </div>

    <div class="home_notice">
        <input type="button" class="noticebtn" value="系统通知" ng-click="goNotice()" />
        <marquee id="affiche" align="left" behavior="scroll" direction="left" height="50" hspace="0" style="margin: 0;width: calc(100% - 140px);float: right;"
            vspace="0" loop="-1" scrollamount="5" scrolldelay="100" onMouseOut="this.start()" onMouseOver="this.stop()">
            <ul style="height: 50px; width: 5000px;">
                <li ng-repeat="item in activeItems" class="home_advice" ng-click="goNoticeDetails(item)" style="color:#fff;">{{item.title|tooltips:20}}({{item.inputdate|changeTime}})</li>
            </ul>
        </marquee>
    </div>

    <div style="height: 430px;">
        <div class="home_new_reg">
            <div class="toptitle">最新上传的法规标准</div>
            <div class="morecheck" ng-click="goReg()">
                <span class="underline">查看更多</span>
                <span>></span>
            </div>
            <div class="splicline"></div>
            <div class="clear home_repeat" style="background-color: #2ea3dc;color: #fff;">
                <div class="fl" style="margin-left: 40px;">标题</div>
                <div class="fr" style="margin-right: 20px;">录入日期</div>
                <div class="fr" style="width: 80px;margin-right: 10px;">录入人</div>
                <div class="fr" style="width:210px;">编号</div>
            </div>
            <div ng-repeat="item in LawItems" class="clear home_repeat" ng-click="goLawDetail(item)">
                <div class="fl home_new_fk"></div>
                <div class="fl color363636" title="{{item.chinesename}}">{{item.chinesename|tooltips:18}}</div>

                <div class="fr date">{{item.inputdate|recordtime}}</div>
                <div class="fr" style="width: 80px;" title="{{item.inputusername}}">{{item.inputusername|tooltips:10}}</div>
                <div class="fr" style="width:210px;" title="{{item.code}}">{{item.code|tooltips:14}}</div>

            </div>

        </div>

        <div class="home_new_regright">

            <div ng-repeat="item in LawRegulationItem" class="clear">
                <div class="parentname" title="{{item.typename}}" ng-click="goLaws(item.id)">{{item.typename|tooltips:8}}({{item.lawcount}})</div>
                <div ng-repeat="childitem in item.childLists">
                    <div class="childname" ng-click="goLaws(childitem.id)" title="{{childitem.typename}}">{{childitem.typename|tooltips:15}}({{childitem.lawcount}})</div>
                </div>
            </div>

        </div>
    </div>

    <div class="clear" style="height:540px;">

        <div class="home_new_lbdh">

            <div class="title">法规类别导航</div>
            <div ng-repeat="item in LawRegulationItem">
                <div ng-class="{true:'menu_select',false:'menu_normal'}[SelectLbMenu==item.id]" ng-click="clickLbMenu(item,'Law')" title="{{item.typename}}">{{item.typename|tooltips:8}}</div>
            </div>
        </div>

        <div class="lbdh_detail">
            <!--ul-->
            <div class="home_new_menu">
                <!--左移-->
                <div class="lbdh_fg_left" ng-click="movetLaw('left','Law')" ng-show="childDList.length>3&&lawindex>0"></div>
                <table style="width:calc(100% - 80px); float: left;">
                    <tr>
                        <td ng-repeat="item in LbdhChildMenus track by $index" style=" text-align: -webkit-center;">
                            <div ng-class="{true:'home_new_menu_select',false:'home_new_menu_normal'}[clickLbdhChildMenuValue==item.id]" ng-click="clickLbdhChildMenu(item,'Law')"
                                title="{{item.typename}}">{{item.typename|tooltips:10}}</div>
                        </td>
                    </tr>
                </table>
                <!--右移-->
                <div class="lbdh_fg_right" ng-click="movetLaw('right','Law')" ng-show="childDList.length>3&&lawindex<childDList.length-3"></div>
            </div>

            <!--表格-->
            <table class="index_table">
                <thead>
                    <tr>
                        <th style="background-color: #2ea3dc;" class="home_lbdh_title">标题</th>
                        <th style="background-color: #2ea3dc;" class="home_lbdh_law">标准编号</th>
                        <th style="background-color: #2ea3dc;">实施日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in LbdhTableItems" style="height: 40px;cursor: pointer" ng-click="clickLbdhTable($index,'Law',item);"
                        ng-class="{true: 'tr_selected',false: ''}[LbdhSelected==$index] ">
                        <td title="{{item.chinesename}} " class="home_lbdh_title">{{item.chinesename| tooltips:40}}</td>
                        <td title="{{item.code}} " class="home_lbdh_law">{{item.code| tooltips:16}}</td>
                        <td title="{{item.impdate|recordtime}} ">{{item.impdate|recordtime}}</td>
                    </tr>
                    <tr ng-if="LbdhTableItems.length==0 ">
                        <td colspan="3 " class="text-center ">无数据</td>
                    </tr>
                </tbody>

            </table>

            <div class="morecheck" ng-click="goReg()">
                <span class="underline">查看更多</span>
                <span>></span>
            </div>
        </div>
    </div>


    <!--技术文档类别导航-->
    <div class="clear" style="height:540px;">

        <div class="home_new_lbdh fr" style="margin-right: 20px;">

            <div class="tec_title">技术文档导航</div>
            <div ng-repeat="item in TecRegulationItem">
                <div ng-class="{true:'menu_select',false:'menu_normal'}[SelectTecLbMenu==item.id]" ng-click="clickLbMenu(item,'Tec')" title="{{item.typename}}">{{item.typename|tooltips:8}}</div>
            </div>
        </div>

        <div class="lbdh_detail" style=" margin-left: 0px;">
            <!--ul-->
            <div class="home_new_menu">
                <!--左移-->
                <div class="lbdh_jswj_left" ng-click="movetLaw('left','Tec')" ng-show="TecchildDList.length>3&&tecindex>0"></div>
                <table style="width:calc(100% - 80px); float: left;">
                    <tr>
                        <td ng-repeat="item in TecLbdhChildMenus track by $index" style=" text-align: -webkit-center;">
                            <div ng-class="{true:'home_new_menu_select',false:'home_new_menu_normal'}[TecclickLbdhChildMenuValue==item.id]" ng-click="clickLbdhChildMenu(item,'Tec')"
                                title="{{item.typename}}" ng-style="{'background':TecclickLbdhChildMenuValue==item.id?'#48ae95':'#fff'}">{{item.typename|tooltips:10}}</div>
                        </td>
                    </tr>
                </table>
                <!--右移-->
                <div class="lbdh_jswj_right" ng-click="movetLaw('right','Tec')" ng-show="TecchildDList.length>3&&tecindex<TecchildDList.length-3"></div>
            </div>

            <!--表格-->
            <table class="index_table">
                <thead>
                    <tr>
                        <th style="background-color: #48ae95;" class="home_lbdh_title">标题</th>
                        <th style="background-color:#48ae95;" class="home_lbdh_law">标准编号</th>
                        <th style="background-color: #48ae95;">发布日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in TecLbdhTableItems" style="height: 40px;cursor: pointer" ng-click="clickLbdhTable($index,'Tec',item);"
                        ng-class="{true: 'tr_selected',false: ''}[TecLbdhSelected==$index]">
                        <td title="{{item.chinesename}} " class="home_lbdh_title">{{item.chinesename| tooltips:40}}</td>
                        <td title="{{item.code}} " class="home_lbdh_law">{{item.code| tooltips:20 }}</td>
                        <td title="{{item.releasedate|recordtime}} ">{{item.releasedate|recordtime}}</td>
                    </tr>
                    <tr ng-if="TecLbdhTableItems.length==0 ">
                        <td colspan="3 " class="text-center ">无数据</td>
                    </tr>
                </tbody>

            </table>

            <div class="morecheck" ng-click="goTec()">
                <span class="underline">查看更多</span>
                <span>></span>
            </div>
        </div>
    </div>


    <div class="home_new_bottom">

        <div class="chart">

            <div class="sjtjtitle">
                数据统计

                <input type="button" class="normalbtn fr mb10 mr10" value="导 出" ng-click="exportchart()" style="margin-top: 25px;" />
            </div>

            <div class="home_new_menu">
                <table class="w100">
                    <tr>
                        <td ng-repeat="item in sjtjMenus" style=" text-align: -webkit-center;">
                            <div ng-class="{true:'home_new_menu_select',false:'home_new_menu_normal'}[sjtjMenusuValue==item.Name]" ng-click="clickSjtjMenu(item.Name)">{{item.Name}}</div>
                        </td>
                    </tr>
                </table>
            </div>

            <highchart config="uploadpeopleChart" style="height: 360px;" ng-if="sjtjMenusuValue=='上传前十统计'"></highchart>
            <highchart config="uploadOrgnameChart" style="height: 360px;" ng-if="sjtjMenusuValue=='上传部门统计'"></highchart>
            <highchart config="uploadTypeChart" style="height: 360px;" ng-if="sjtjMenusuValue=='上传分类统计'"></highchart>
        </div>

        <div class="yhly">
            <div style="height: 80px;">
                <div class="yhlytitle">
                    用户留言

                </div>
                <div class="home_lylymore" ng-click="goSuggestion()" style="margin-top: 30px;">
                    <span class="underline">查看更多</span>
                    <span>></span>
                </div>
            </div>

            <div class="lylytext">

                <marquee id="affiche1" align="left" behavior="scroll" direction="up" height="185" width="400" hspace="30" class="sugg_text"
                    style="height:215px;width:99%;margin: 0;margin-bottom: 10px;margin-left:0px" vspace="20" loop="-1" scrollamount="3"
                    scrolldelay="100" onMouseOut="this.start()" onMouseOver="this.stop()">
                    <div ng-repeat="item in SuggestionItems" style="cursor: pointer;" class="clear" ng-click="goSuggestDetail(item)">
                        <div class="point fl">.</div>
                        <div class="fl text">{{item.title}}</div>
                    </div>
                </marquee>

                <div class="mb10">
                    <input class="home-input " style="width: 99%;margin-left:0px; " type="text" ng-model="userSuggestion.title" name="code" maxlength="25"
                        placeholder="请输入标题..." />
                </div>
                <textarea class="home-txtarea" style="background: #fff; height: 95px;" maxlength="800" ng-model="userSuggestion.details"
                    placeholder="请输入内容..."> </textarea>

                <div style="height: 40px" class="mt10">
                    <div class="fl" style="margin-top: 5px;">
                        <span class="color666">{{userSuggestion.inputname}}</span>
                        <span class="ml40 color666">{{userSuggestion.inputdate}}</span>
                    </div>
                    <input type="button" class="pubilshbtn fr" value="发 布" ng-click="pubsuggest()" />
                </div>
            </div>

        </div>

    </div>

    <div class="releteTime">
        版本时间 2018-01-18
    </div>
</div>