<div class="h100">
    <!--顶部-->
    <div class="mt10_mb10" style="height:30px;">

        <div class="fl">
            <span>通知名称:</span>
            <input class="home-input" type="text" ng-model="searchdata.Title" maxlength="25" />
        </div>

        <div class="fl" >
            <span class="fl">发布部门:</span>
            <combo-tree-select tree-data="treeDataOrg" style="float:left;z-index: 100;" tree-model="searchdata.organization" btn-show="false" img-color="2" is-normal="250" tree-width="250"
                                is-disable="false"></combo-tree-select>
        </div>

        <div class="fl">
            <span class="ml10">发布日期:</span>
            <input type="text" id="FiledTimeStart" class="case_table_timepicker_input" ng-model="searchdata.FiledTimeStart" je-date format="YYYY-MM-DD"
                readonly />
            <span style="margin-left: 0px;">至</span>
            <input type="text" id="FiledTimeEnd" class="case_table_timepicker_input" ng-model="searchdata.FiledTimeEnd" je-date format="YYYY-MM-DD"
                readonly />
        </div>


        <input type="button" class="canclelbtn fr ml10 border1ccc" value="返 回" ng-click="goState()" />
        <input type="button" class="normalbtn fr mr10" ng-click="selectAdvice()" value="查 询" />
    </div>

    <!--内容-->
    <div class="home_content posi_re">

        <div class="home_search_content">
            <div class="title">系统通知</div>
        </div>

        <div>
            <div ng-repeat="item in items" class="home_repeat" ng-click="showAdvice(item)" ng-style="{'background':clickvalue==item.id?'#79a5ff':''}">
                <div class="fl ml10">{{$index+1}}</div>
                <div class="fl point">.</div>
                <div class="fl color363636" title="{{item.title}}">{{item.title|tooltips:30}}</div>

                <div class="fr date" style="width:150px">{{item.inputdate|changeTime}}</div>
                <div class="fr Organization">{{item.orgname}}</div>

            </div>
        </div>


        <div class="home_paging" style="bottom:0">
            <div class="home_line"></div>
            <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                <span class="ng-binding ">共{{pager.total}}条</span>
            </div>
            <div class="pull-right ">
                <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pager.total " ng-model="pager.current " max-size="10 " ng-change="selectAdvice(true) "
                    items-per-page="pager.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
            </div>
        </div>

    </div>
</div>