<div class="h100">
    <!--顶部-->
    <div class="mt10_mb10">
        <a class="color_blue" ng-click="goState()">首页</a>
        <span>></span>
        <span>系统通知</span>
    </div>

    <!--内容-->
    <div class="home_content posi_re">

        <div class="home_search_content">
            <div class="title">系统通知</div>
            <!--<div>
                <div class="home_search"></div>
                <input class="home-input fr w400" type="text" ng-model="Number" maxlength="25" placeholder="请输入关键字" />
            </div>-->
        </div>

        <div>
            <div ng-repeat="item in items" class="clear home_repeat">
                <div class="fl point">.</div>
                <div class="fl color363636">{{item.Title}}</div>

                <div class="fr date">{{item.Date}}</div>
                <div class="fr Organization">{{item.Organization}}</div>

            </div>
        </div>


        <div class="home_paging" style="bottom:0">
            <div class="home_line"></div>
            <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                <span class="ng-binding ">共{{pager.total}}条</span>
            </div>
            <div class="pull-right ">
                <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pager.total " ng-model="pager.current " max-size="10 " ng-change="Paging(false) "
                    items-per-page="pager.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
            </div>
        </div>

    </div>
</div>