<div class="h100">
    <form name="addLawForm" novalidate="novalidate" class="h100">
        <div class="mt10_mb10" style="height:30px;">


            <input type="button" class="canclelbtn fr ml10 border1ccc" value="返 回" ng-click="goState()" />
            <input type="button" class="normalbtn fr ml10" value="提 交"  ng-click="commit('commit')" ng-disabled="isSaving" ng-show="!isPublish"
            />
            <input type="button" class="normalbtn fr" value="保 存"  ng-click="save('save')" ng-disabled="isSaving"
            />
        </div>

        <!--外围border-->
        <div class="regluation_add_contentborder concent_center">
            <div class="bgdf2 h100">

                <table>

                    <tr height="50px">
                        <td class="regluation_add_td">录入人:</td>
                        <td class="pl10">{{data.inputusername}}</td>

                        <td class="regluation_add_td tl">录入部门:{{data.inputorgname}}</td>

                        <td class="w300 tr">录入时间:{{data.inputdate}}</td>
                    </tr>


                    <tr height="50px">
                        <td class="regluation_add_td"><span class="div_required">*</span>标题</td>
                        <td colspan="3">
                            <div class="posi_re">
                                <input class="home-input w847" type="text" name="chinesename" ng-model="data.chinesename" maxlength="200" validator="required"
                                />
                            </div>
                        </td>
                    </tr>

                    <tr height="50px">
                        <td class="regluation_add_td">英文标题</td>
                        <td colspan="3">
                            <input class="home-input w847" type="text" ng-model="data.englishname" maxlength="200" />
                        </td>
                    </tr>

                    <tr height="50px">
                        <td class="regluation_add_td">编号</td>
                        <td class="w300">
                            <div class="posi_re">
                                <input class="home-input w300" type="text" ng-model="data.code" name="code" maxlength="200" />
                            </div>
                        </td>
                        <td class="regluation_add_td"><span class="div_required">*</span>类别</td>
                        <td class="w300">
                            <combo-tree-select tree-data="treeData" tree-model="data.tectype" btn-show="false" img-color="2" tree-width="300" is-disable="false" is-normal="300"></combo-tree-select>
                        </td>
                    </tr>



                    <tr height="50px">
                        <td class="regluation_add_td">发布日期</td>
                        <td class="w300">
                            <input type="text" id="FiledTime" class="case_table_timepicker_input w300" ng-model="data.releasedate" je-date format="YYYY-MM-DD"
                                readonly />
                        </td>

                        <td class="regluation_add_td">关键字</td>
                        <td class="w300">
                            <input class="home-input w300" type="text" ng-model="data.keywords" maxlength="200" />
                        </td>


                    </tr>

                    <tr height="50px">
                        <td class="regluation_add_td va_top">摘要</td>
                        <td colspan="3" class="pl10"  >
                            <div class="bgdfff" style="width:849px;">
                                <textarea nic-textarea text-content id="test-content" name="Content" ng-model="data.summaryinfo" class="home-txtarea regluation_add_textarea"
                                    style="width:100%;border: 0px;overflow:auto;border-radius: 0;width:849px;height:87px;" maxlength="800"></textarea>
                            </div>
                        </td>
                    </tr>

                    <tr height="50px">
                        <td class="regluation_add_td va_top">备注</td>
                        <td colspan="3">
                            <textarea class="home-txtarea regluation_add_textarea" style="width:849px;" maxlength="200" ng-model="data.memo"> </textarea>
                        </td>
                    </tr>

                    <tr height="50px">
                        <td class="regluation_add_td va_top">
                            <div><span class="div_required">*</span>附件</div>
                            <div> <input type="button" class="normalbtn regluation_add_btn" value="添加" ng-click="openUploadModal()"
                                /></div>
                        </td>
                        <td colspan="3">
                            <div class="home-txtarea regluation_add_textarea" style="margin-bottom:10px;overflow-y: auto;width:849px;">
                                <ul>
                                    <li ng-repeat="accitem in Attachments">

                                        <div title="{{accitem.FileName}}" style="height:40px;">
                                            <div class="regluation_file_wrap">{{accitem.FileName|tooltips:30}}</div>
                                            <input type="button" class="attachment_view" title="查看" ng-show="canPreview(accitem.FileName)" ng-click="preview(accitem.ID)"
                                            />
                                            <input class="attachment_download" title="下载" ng-click="downloadAccessory(accitem.ID)" />
                                            <input class="attachment_delete" title="删除" ng-click="deletefile(accitem.ID)" />
                                        </div>

                                    </li>
                                </ul>


                            </div>
                        </td>
                    </tr>


                </table>

            </div>
        </div>
    </form>
</div>