<div class="h100">
    <div class="mt10_mb10" style="height:30px;">
        <a class="color_blue" ng-click="goState('first')">技术文档</a>
        <span>></span>
        <a class="color_blue" ng-click="goState('second')">技术文档管理</a>
        <span>></span>
        <a class="color_blue" ng-click="goState('first')">论文</a>
        <span>></span>
        <span>{{DetaiData.ChineseTitle}}</span>
    </div>

    <div class="regluation_detail_border">
        <div class="regluation_detail_top">
            <span class="ml10">录入人：张利华</span>
            <span class="ml40">录入时间：2017-05-06</span>
            <span class="ml40">录入单位：国防工科局</span>

          
        </div>

        <div class="regluation_detail_chinesetitle">
            {{DetaiData.chinesename}}
        </div>

        <div class="regluation_detail_englishtitle">
            {{DetaiData.englishname}}
        </div>

        <div class="regluation_detail_table">
            <table class="w100">
                <tr height="40px;">
                    <td class="tr">编号:</td>
                    <td class="color_blue">{{DetaiData.code}}</td>
                    <td class="tr">发布日期:</td>
                    <td class="color_blue">{{DetaiData.releasedate|recordtime}}</td>   
                </tr>
                <tr height="40px;">   
                    <td class="tr">技术文档类别:</td>
                    <td class="color_blue">{{DetaiData.typename}}</td>
                </tr>
            </table>
        </div>

        <div class="regluation_detail_table2">
            <table>
                <tr height="50px;">
                    <td class="color_blue first_td">关键字 : </td>
                    <td class="va_top">{{DetaiData.keywords}}</td>
                </tr>
                <tr height="50px;">
                    <td class="color_blue first_td">摘 要 : </td>
                    <td class="va_top">{{DetaiData.summaryinfo}}</td>
                </tr>
                <tr height="50px;">
                    <td class="color_blue first_td">备 注 : </td>
                    <td class="va_top">{{DetaiData.memo}}</td>
                </tr>
                <tr height="50px;">
                    <td class="color_blue first_td">附 件 : </td>
                    <td class="va_top" style="overflow-y: auto;">
                        <ul>
                            <li ng-repeat="accitem in Attachments" class="regluation_detail_Attachments">

                                <div title="{{accitem.FileName}}"> {{accitem.FileName|tooltips:15}}
                                    <input type="button" class="checkbtn ml20" value="查 看" title="查看" ng-show="canPreview(accitem.FileName)" ng-click="preview(accitem.ID)"
                                    />
                                    <input class="downloadbtn ml10" value="下 载" title="下载" ng-click="downloadAccessory(accitem.ID)" />
                                </div>

                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>


    </div>
</div>