<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".glsl" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".json" />
  

      <mimeMap fileExtension=".glsl" mimeType="text/xml" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json" />

      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".properties" mimeType="text/x-java-properties" />
      <mimeMap fileExtension=".bcmap" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>
