<div class="modal-header">
    <button type="button" ng-click="cancelref()" class="close" aria-hidden="true">&times;</button>
    <h4>{{title}}</h4>
</div>

<div style="width:100%;">

    <div class="reference_top">
        <span>编号</span>
        <input class="home-input" style="width: 120px;margin-right: 30px;" type="text" ng-model="Number" maxlength="25" />
        <span>标题</span>
        <input class="home-input" style="width: 170px;" type="text" ng-model="Title" maxlength="25" />

        <span>状态</span>
        <select class="home-select" ng-model="ApproveStatus" style=" width: 100px;">
                          <option value="">全部</option>          
                          <option value="3">发布</option>
                           <option value="4">临时</option>
                  </select>

        <input type="button" class="normalbtn ml20" value="查 询" ng-click="search()" />

        <input type="button" class="normalbtn ml20" value="新 增" ng-click="Add(null,false)" />
    </div>

    <div class="h300 posi_re">
        <div style="overflow-y: auto;    height: 265px;">
            <table class="index_table">
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-click="clickAll()" ng-checked="selectAll" /></th>
                        <th>标题</th>
                        <th>编号</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody ng-if="isLoaded">
                    <tr ng-repeat="item in items" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                        <td>
                            <input type="checkbox" ng-checked="item.IsCheck" ng-click="clickSingle(item)" />
                        </td>
                        <td title="{{item.chinesename}} " class="w300 ">{{item.chinesename| tooltips:40}}</td>
                        <td title="{{item.code}} ">{{item.code| tooltips:30 }}</td>
                        <td>
                            <input type="button" class="normalbtn" value="编 辑" ng-show="item.approvestatus==4" ng-click="Add(item,true)" />
                            <input type="button" class="deletebtn" value="删 除" ng-if="item.approvestatus==4&&(item.inputuserid==user.id||isLawMaintain)&&item.canDelete"
                                ng-click="DeleteReplece(item.id)" />
                        </td>
                    </tr>
                    <tr ng-if="items.length==0 ">
                        <td colspan="4" class="text-center ">无数据</td>
                    </tr>
                </tbody>
                <tbody ng-if="!isLoaded ">
                    <tr>
                        <td colspan="4" class="text-center ">
                            <img src="images/loading.gif " />
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="home_paging">
            <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                <span class="ng-binding ">共{{pager.total}}条</span>
            </div>
            <div class="pull-right ">
                <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pager.total " ng-model="pager.current " max-size="10 " ng-change="search(true)"
                    items-per-page="pager.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
            </div>
        </div>
    </div>


</div>

<div class="modal-footer" style=" margin-top: 10px;">
    <button type="button" style="margin:0;" class="btn btn-primary modal_btn search_btn" ng-click="okref()">提交</button>
    <button type="button" style="margin:0;" class="cancle_btn" ng-click="cancelref()">取消</button>
</div>