<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" aria-hidden="true">&times;</button>
    <h4>{{title}}</h4>
</div>

<div style="width:100%;">

    <table>
        <tr>
            <td class="system_td">
                角色名称</td>
            <td><input class="home-input mt10" style="width: 425px;" type="text" ng-model="data.rolename" maxlength="25" ng-disabled="isCheck"
                /></td>
        </tr>
        <tr>
            <td class="system_td">
                权限</td>
            <td style="padding-left: 10px;padding-top: 10px;">
                <div ng-repeat="item in menuItems" class="system_role">
                    <input type="checkbox" id="{{item.id}}" ng-click="clickSingle(item)" ng-disabled="isCheck" ng-checked="item.ischeck" />
                    <label for="{{item.id}}" class="normallabel">{{item.menuname}}</label>
                </div>
            </td>
        </tr>

    </table>





</div>

<div class="modal-footer" style=" margin-top: 10px;">
    <button type="button" style="margin:0;" class="btn btn-primary modal_btn search_btn" ng-click="ok()" ng-show="!isCheck">提交</button>
    <button type="button" style="margin:0;" class="cancle_btn" ng-click="cancel()">取消</button>
</div>