<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" aria-hidden="true">&times;</button>
    <h4>{{title}}</h4>
</div>

<div style="width:100%;">

    <table>
        <tr>
            <td class="system_td">
                角色名称</td>
            <td><input class="home-input mt10" style="width: 425px;" type="text" ng-model="data.rolename" maxlength="25" ng-disabled="isCheck"
                /></td>
        </tr>
        <tr>
            <td class="system_td">
                权限</td>
            <td style="padding-top: 10px;">

                <input class="home-input w300" readonly ng-model="displayText" ng-click="expandTree()" title="{{displayText}}" />
                <div name="combo_treeRole"  class="selecttreearea" ng-show="showTree"  style="width: 300px;overflow-x: hidden;">
                    <div ui-tree>
                        <ol ui-tree-nodes ng-model="source">
                            <li ng-repeat="item in source" ui-tree-node ng-include="'childnodes1.html'">
                            </li>
                        </ol>
                        <script type="text/ng-template" id="childnodes1.html">
            <div ui-tree-handle data-nodrag  ng-style="{'background-color':treeModel==item.id?'#d2eaff':'none','height':'30px','cursor': 'pointer'}">
            
               <!--图片-->
                <div ng-style="{'background-color':'#fff'}" class="combotree_pic" ng-if="item.Nodes&&item.Nodes.length>0" ng-click="Extend(item)" ></div>

                <!--叶子节点-->
                <div ng-bind="item.menuname" class="combotree_name ml10 fl" ng-click="clicktreeNode(item)" ng-if="!item.Nodes||item.Nodes.length==0"
                   >  
                    </div>   

                <div ng-bind="item.menuname" class="combotree_name fl" ng-click="clicktreeNode(item)"  ng-if="item.Nodes&&item.Nodes.length>0">  
                    </div>   

                <input type="checkbox" class="fr" ng-disabled="isCheck" ng-click="clickfav(item)" ng-checked="item.IsCheck" ng-show="!item.Nodes||item.Nodes.length==0"/>
            </div>

            <!--下级-->
            <ol ui-tree-nodes="" ng-model="item.Nodes">  
                
                 <div ng-show="item.Extend">
                     <li ng-repeat="item in item.Nodes" ui-tree-node ng-include="'childnodes1.html'" ></li>
                </div>
                
            </ol>
        </script>
                    </div>
                </div>    
            </td>
        </tr>

    </table>





</div>

<div class="modal-footer" style=" margin-top: 10px;">
    <button type="button" style="margin:0;" class="btn btn-primary modal_btn search_btn" ng-click="ok()" ng-show="!isCheck">提交</button>
    <button type="button" style="margin:0;" class="cancle_btn" ng-click="cancel()">取消</button>
</div>