<form name="userForm" novalidate="novalidate">
    <div class=" modal-header ">
        <button type="button " ng-click="cancel() " class="close " aria-hidden="true ">&times;</button>
        <h4>{{title}}</h4>
    </div>

    <div style="width:100%;margin-top:10px;">

        <table>
            <tr height="40px">
                <td class="system_td ">
                    <span class="div_required">*</span> 用户名</td>
                <td>
                    <div class="posi_re">
                        <input class="home-input mt10 " style="width: 425px; " type="text " ng-model="data.username" maxlength="50" name="username "
                            ng-disabled="isCheck " validator="required " />
                    </div>
                </td>
            </tr>
            <tr height="40px">
                <td class="system_td ">
                    <span class="div_required">*</span>姓名</td>
                <td>
                    <div class="posi_re"><input class="home-input mt10 " style="width: 425px; " type="text" ng-model="data.userrealname" maxlength="50"
                            name="userrealname" ng-disabled="isCheck " validator="required" /></div>
                </td>
            </tr>
            <tr height="40px">
                <td class="system_td ">
                    <span class="div_required">*</span>密码</td>
                <td>
                    <div class="posi_re"><input class="home-input mt10 " style="width: 425px; " type="password" ng-model="data.password" maxlength="50"
                            name="password" ng-disabled="isCheck " validator="required" /></td>
                </div>
            </tr>

            <tr height="40px">
                <td class="system_td ">
                    <span class="div_required">*</span> 确认密码</td>
                <td>
                    <div class="posi_re"><input class="home-input mt10 " style="width: 425px; " type="password" ng-model="passwordSure" maxlength="50"
                            name="password" ng-disabled="isCheck " validator="required" /></td>
                </div>
            </tr>
            <tr height="40px">
                <td class="system_td ">
                    职务</td>
                <td>
                    <select class="home-select mt10" ng-model="data.duty" style="width: 425px; " ng-options=" type.code as type.name for type in dutyList" ng-disabled="isCheck ">         
                      </select>
                </td>
            </tr>

            <tr height="40px">
                <td class="system_td ">
                    部门</td>
                <td>
                    <div class="posi_re mt10">
                        <combo-tree-select tree-data="treeDataOrg" style="z-index: 100;" tree-model="data.orgid" btn-show="false" img-color="2" is-normal="425" tree-width="425"
                            is-disable="isCheck"></combo-tree-select>
                    </div>
                </td>
            </tr>

            <tr height="40px">
                <td class="system_td ">
                    邮箱</td>
                <td>
                    <div class="posi_re"><input class="home-input mt10 " style="width: 425px; " validator="nullemail" type="text " ng-model="data.email"
                            maxlength="25 " ng-disabled="isCheck " name="email " /></div>
                </td>
            </tr>
            <tr height="40px">
                <td class="system_td ">
                    电话</td>
                <td>
                    <div class="posi_re"><input class="home-input mt10 " style="width: 425px; " validator="nullphonenumber" type="text " ng-model="data.mobile "
                            maxlength="25 " ng-disabled="isCheck " name="mobile " /></td>
                </div>
            </tr>
            <tr>
                <td class="system_td ">
                    角色</td>
                <td style="padding-left: 10px;padding-top: 10px; ">
                    <div ng-repeat="item in roleItems " class="system_role" style="width: 215px;">
                        <input type="checkbox" id="{{item.id}} " ng-click="clickSingle(item) " ng-disabled="isCheck" ng-checked="item.ischeck " />
                        <label for="{{item.id}} " class="normallabel" title="{{item.rolename}}">{{item.rolename| tooltips:10}}</label>
                    </div>
                </td>
            </tr>

        </table>





    </div>

    <div class="modal-footer " style=" margin-top: 10px; ">
        <button type="button " style="margin:0; " validation-submit="userForm " class="btn btn-primary modal_btn search_btn
    " ng-click="ok() " ng-show="!isCheck ">提交</button>
        <button type="button " style="margin:0; " class="cancle_btn " ng-click="cancel() ">取消</button>
    </div>
</form>