<div name="combo_tree1" class="posi_re">
    <input class="home-input" readonly ng-model="displayText" ng-click="expandTree()" ng-style="{'width':isNormal+'px'}" ng-disabled="isDisable"
    />

    <div ui-tree ng-show="showTree" class="selecttreearea" ng-style="{'width':treeWidth+'px','z-index': '1000'}">
        <input class="home-input" ng-model="data.treeDisplay" placeholder="请输入条件筛选..." style="width: calc(100% - 100px);margin-top: 10px;"
        />
        <input type="button" class="normalbtn mr10 mt10" value="清 空" ng-click="resetModel()" />
        <ol ui-tree-nodes ng-model="source" ng-if="source&&source.length>0">
            <li ng-repeat="item in source" ui-tree-node ng-include="'childnodesselect.html'">
            </li>

        </ol>
        <script type="text/ng-template" id="childnodesselect.html">
            <div ui-tree-handle data-nodrag class="posi_re">
                <div class="tree_or_line1" ng-show="item.Type==1"></div>

                <!--图片-->
                <div ng-style="{'background-color':imgColor==1?'#fff':'#f2f2f2'}" class="combotree_pic" ng-if="item.Nodes&&item.Nodes.length>0" ng-click="Extend(item)" ></div>

                <!--没按钮-->
                <div ng-bind="item.Name|tooltips:20"  title="{{item.Name}}"  class="combotree_name"  ng-click="clickNode(item)" ng-if="item.Nodes&&item.Nodes.length>0"  ng-style="{'background-color':treeModel==item.Id?'#08589f':'none','color':treeModel==item.Id?'#fff':'#363636'}"> </div>   

                <div ng-bind="item.Name|tooltips:20" title="{{item.Name}}"  class="combotree_name" ng-click="clickNode(item)" ng-if="!item.Nodes||item.Nodes.length==0"
                    ng-style="{'background-color':treeModel==item.Id?'#08589f':'none','color':treeModel==item.Id?'#fff':'#363636'}"> </div>   

            </div>

            <!--下级-->
            <ol ui-tree-nodes="" ng-model="item.Nodes" class="posi_re ml10">  
                   
                 <div class="tree_vr_line_out1" ng-show="!$last"></div>
                 <div ng-show="item.Extend">
                     <li ng-repeat="item in item.Nodes" ui-tree-node ng-include="'childnodesselect.html'" ></li>
                </div>
                
            </ol>
           
        </script>
        <div ng-if="!source||source.length==0" style="text-align: center;margin-top: 30px;">
            未检索到相关内容
        </div>

    </div>
</div>