<div class="h100">
    <!--右侧-->
    <div class="usercenter_left">

        <div class="titlename">
            用户中心
        </div>

        <div ng-repeat="item in MenuItmes" ng-class="{true:'menu_select',false:'menu'}[clickMenuValue==item.Name]" ng-click="clickMenu(item)">
            <span>{{item.Name}}</span>
        </div>

    </div>

    <div class="usercenter_right">

        <div ng-if="clickMenuValue=='修改密码'" class="concent_center">
            <form name="passwordForm" novalidate="novalidate">
                <table>
                    <tr height="50px">
                        <td class="tr">原密码</td>
                        <td>
                            <div class="posi_re">
                                <input class="home-input w300" type="password" name="OldPasswWord" ng-model="passworddata.OldPasswWord" maxlength="50" validator="required"
                                />
                            </div>
                        </td>
                    </tr>
                    <tr height="50px">
                        <td class="tr">新密码</td>
                        <td>
                            <div class="posi_re">
                                <input class="home-input w300" type="password" name="NewPasswWord" ng-model="passworddata.NewPasswWord" maxlength="50" validator="required"
                                />
                            </div>
                        </td>
                    </tr>
                    <tr height="50px">
                        <td class="tr">确认密码</td>
                        <td>
                            <div class="posi_re">
                                <input class="home-input w300" type="password" name="ComfirmPasswWord" ng-model="passworddata.ComfirmPasswWord" maxlength="50"
                                    validator="required" />
                            </div>
                        </td>
                    </tr>
                    <tr height="50px">
                        <td colspan="2">
                            <input type="button" class="canclelbtn border1ccc fr ml10" value="取 消" ng-click="resetPasswordinput()" />
                            <input type="button" class="normalbtn fr ml10" value="确 定" validation-submit="passwordForm" ng-click="updatePassword()" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div ng-if="clickMenuValue=='收藏夹'" class="h100">
            <!--树-->
            <div class="regluation_index_left bgdfff" class="posi_re">
                <combo-tree tree-data="treeFavoriteData" tree-model="clickFavValue" btn-show="false" img-color="1" is-extend="true"></combo-tree>
            </div>

            <!--表格-->
            <div class="usercenter_collect_table h100 posi_re">

                <div class="of" style="height: calc(100% - 100px);">
                    <table class="index_table">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>收藏夹名称</th>
                                <th>收藏时间</th>
                                <th>类型</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-if="isLoaded">
                            <tr ng-repeat="item in CollectItems" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                                <td title="{{item.title}} " class="w300 ">{{item.title| tooltips:20}}</td>
                                <td title="{{item.favname}}">{{item.favname| tooltips:10}}</td>
                                <td title="{{item.favoritetime|recordtime}} ">{{item.favoritetime|recordtime}}</td>
                                <td title="{{item.type==0?'法规标准':'技术文件'}}">{{item.type==0?'法规标准':'技术文件'}}</td>
                                <td>
                                    <input type="button " class="normalcheckbtn" value="查 看 " ng-click="CheckByFav(item)" />
                                    <input type="button " class="collectbtn" value="取消收藏 " ng-click="dismissFav(item)" />
                                </td>
                            </tr>
                            <tr ng-if="CollectItems.length==0 ">
                                <td colspan="5" class="text-center ">无数据</td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!isLoaded ">
                            <tr>
                                <td colspan="5" class="text-center ">
                                    <img src="images/loading.gif " />
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="home_paging">
                    <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                        <span class="ng-binding ">共{{pagerDeal.total}}条</span>
                    </div>
                    <div class="pull-right ">
                        <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerDeal.total " ng-model="pagerDeal.current " max-size="10 " ng-change="getLawsByLinkID(true) "
                            items-per-page="pagerDeal.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                    </div>
                </div>

            </div>




        </div>

        <div ng-if="clickMenuValue=='收藏夹管理'" class="h100">

            <!--树-->
            <div class="regluation_index_left bgdfff" style="width:95%">
                <combo-tree tree-data="treeFavoriteData" tree-model="clickTreeValue" btn-show="true" img-color="1" is-extend="true"></combo-tree>
            </div>
        </div>

        <div ng-if="clickMenuValue=='待办箱'" class="h100">

            <div class="usercenter_deal_search">
                <input class="home-input w300 fl" type="text" style="margin-left: 0px;margin-top: 10px;" ng-model="approvedata.KeyWordLaw" maxlength="25" placeholder="请输入关键字"
                />

                <div class="fl ml10">
                    <span class="fl">发布部门:</span>
                    <combo-tree-select tree-data="treeDataOrg" style="float:left;z-index: 100;" tree-model="approvedata.organization" btn-show="false"
                        img-color="2" is-normal="250" tree-width="250" is-disable="false"></combo-tree-select>
                </div>

                <input type="button" class="normalbtn mr10 fr" style="margin-top: 10px;" value="查 询" ng-click="searchLawstandards()" />
            </div>

            <!--表格-->
            <div class="usercenter_deal_table posi_re h100">
                <div class="of" style="height: calc(100% - 100px);">
                    <table class="index_table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>标题</th>
                                <th>编号</th>
                                <th>录入人</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-if="isLoaded">
                            <tr ng-repeat="item in LawstandardItems" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                                <td>{{$index+1}}</td>
                                <td title="{{item.chinesename}} " class="w300 ">{{item.chinesename| tooltips:20}}</td>
                                <td title="{{item.code}} ">{{item.code}}</td>
                                <td title="{{item.inputusername}} ">{{item.inputusername}}</td>
                                <td>
                                    <input type="button " class="normalcheckbtn" value="查 看" ng-click="Check(item)" />
                                    <input type="button " class="normalbtn" value="审 核" ng-click="Exam(item)" />
                                </td>
                            </tr>
                            <tr ng-if="LawstandardItems.length==0 ">
                                <td colspan="5" class="text-center ">无数据</td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!isLoaded ">
                            <tr>
                                <td colspan="5 " class="text-center ">
                                    <img src="images/loading.gif " />
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="home_paging">
                    <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                        <span class="ng-binding ">共{{pagerLawstandard.total}}条</span>
                    </div>
                    <div class="pull-right ">
                        <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerLawstandard.total " ng-model="pagerLawstandard.current " max-size="10 "
                            ng-change="searchLawstandards(true) " items-per-page="pagerLawstandard.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                    </div>
                </div>

            </div>


        </div>

        <div ng-if="clickMenuValue=='通知管理'" class="h100 p10">

            <div class="h100  posi_re" style="width:100%;">

                <div class="system_userconfig">
                    <div class="fl">

                        <input class="home-input w300" type="text" style="margin-left: 0px;" ng-model="adviceData.Title" maxlength="25" placeholder="请输入关键字"
                        />
                        <input type="button" class="normalbtn mr10" value="查 询" ng-click="selectAdvice()" />
                    </div>
                    <div class="fr">
                        <input type="button" class="normalbtn  mr10" value="新增通知" ng-click="ShowAdvice(null,false,'新增通知')" />
                    </div>

                </div>

                <div class="of" style="height: calc(100% - 100px);">
                    <table class="index_table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>标题</th>
                                <th>来源</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-if="isLoaded ">
                            <tr ng-repeat="item in adviceItems" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                                <td>{{$index+1}}</td>
                                <td title="{{item.title}} " class="w300 ">{{item.title|tooltips:20}}</td>
                                <td title="{{item.orgname}} ">{{item.orgname}}</td>
                                <td title="{{item.inputdate|recordtime}} ">{{item.inputdate|changeTime}}</td>
                                <td>
                                    <input type="button " class="checkbtn" ng-click="checkAdvice(item,true,'查看')" value="查 看" />
                                    <input type="button " class="deletebtn" ng-click="DeleteAdvice(item)" value="删 除"
                                    />
                                </td>
                            </tr>
                            <tr ng-if="userItems.length==0 ">
                                <td colspan="5 " class="text-center ">无数据</td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!isLoaded ">
                            <tr>
                                <td colspan="5" class="text-center ">
                                    <img src="images/loading.gif " />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="home_paging">
                    <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                        <span class="ng-binding ">共{{pagerAdvice.total}}条</span>
                    </div>
                    <div class="pull-right ">
                        <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerAdvice.total " ng-model="pagerAdvice.current " max-size="10 " ng-change="selectAdvice(true) "
                            items-per-page="pagerAdvice.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>