<div class="h100 mt10">
    <div class="system_tree">
        <combo-tree tree-data="treeData" tree-model="clickTreeValue" btn-show="false" img-color="2" is-system-root="true" is-extend="true"></combo-tree>
    </div>

    <div class="system_left">

        <div ng-if="clickTreeValue=='11'">
            <div class="system_hc">
                <span>是否需要审核</span>

                <div ng-class="{true:'system_hk_yes',false:'system_hk_no'}[systemdata.sfsh==1]" ng-style="{'background-color':systemdata.sfsh==1?'#07ac22':'#363636'}">
                    <div ng-class="{true:'system_hkb_right',false:'system_hkb_left'}[systemdata.sfsh==1]" ng-click="clicksfsh()"></div>
                </div>
                <div class="fr">{{systemdata.sfsh==1?'审核':'不审核'}}</div>

            </div>

        </div>

        <div ng-if="clickTreeValue=='17'">
            <div class="system_hc">
                <span>分页设置</span>

                <div class="fr mt10">
                    <input type="button" class="normalbtn fr" value="保 存" ng-click="savePagesize()" ng-disabled="!pagedata.pagesize" />
                    <input class="home-input fr mr10" type="text" only-num in-decimals="0" ng-model="pagedata.pagesize" maxlength="5" />
                </div>

            </div>

        </div>

        <div ng-if="clickTreeValue=='19'">
            <div class="system_hc">
                <span>历史数据处理</span>

                <div class="fr mt10">
                    <input type="button" class="normalbtn fr" value="开 始" ng-click="saveHistory()" />
                    <input class="home-input fr mr10 w300" type="text" ng-model="systemdata.filepath" />
                </div>

            </div>

            <div class="system_hc">
                <span>历史数据类别处理</span>

                <div class="fr mt10">
                    <input type="button" class="normalbtn fr" value="开 始" ng-click="saveHistoryType()" />
                </div>

            </div>
            <div class="system_hc">
                <span>更新索引</span>

                <div class="fr mt10">
                    <input type="button" class="normalbtn fr" value="开 始" ng-click="initSolr()" />
                </div>

            </div>

        </div>


        <div ng-if="clickTreeValue=='12'" class="concent_center">
            <table>
                <tr height="50px">
                    <td class="tr">邮件请求地址</td>
                    <td><input class="home-input w300" type="text" ng-model="MailData.MailServerAddress" maxlength="100" /></td>
                </tr>
                <tr height="50px">
                    <td class="tr">发件箱</td>
                    <td><input class="home-input w300" type="text" ng-model="MailData.HairBoxAddress" maxlength="100" /></td>
                </tr>
                <tr height="50px">
                    <td class="tr">邮件主题</td>
                    <td><input class="home-input w300" type="text" ng-model="MailData.Theme" maxlength="500" /></td>
                </tr>
                <tr height="50px">
                    <td class="tr">邮件正文</td>
                    <td><textarea class="home-input" type="text" ng-model="MailData.Text" maxlength="500" style="height: 200px;width:500px;"
                        /></td>
                </tr>
                <tr height="50px">
                    <td colspan="2">
                        <!--<input type="button" class="canclelbtn border1ccc fr ml10" value="取 消" ng-click="resetMailSetting()" />-->
                        <input type="button" class="normalbtn fr ml10" value="保 存" ng-click="SaveMailSetting()" ng-disabled="!(MailData.MailServerAddress&&MailData.HairBoxAddress&&MailData.Theme&&MailData.Text)"
                        />
                        <input type="button" style="width:100px;" class="normalbtn fr ml10" value="发送测试邮件" ng-click="sendTestMail()" />
                    </td>
                </tr>
            </table>

        </div>

        <!--发布部门管理-->
        <div ng-if="clickTreeValue=='131'" class="posi_re h100">
            <div class="system_userconfig">
                <div class="fl">

                    <input class="home-input w300" type="text" style="margin-left: 0px;" ng-model="systemdata.publishName" maxlength="25" placeholder="请输入部门名称"
                    />
                    <input type="button" class="normalbtn mr10" value="搜 索" ng-click="getpublishdep()" />
                </div>

                <input type="button" class="normalbtn fr mr10" value="新 增" ng-click="ShowPublishdep(null,false,'新增')" />
            </div>

            <div class="of" style="height: calc(100% - 100px);">
                <table class="index_table">
                    <thead>
                        <tr>
                            <th>部门名称</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-if="isLoaded">
                        <tr ng-repeat="item in publishdepItems" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                            <td title="{{item.pubdepname}} " class="w300 ">{{item.pubdepname}}</td>
                            <td>
                                <input type="button " class="normalcheckbtn " ng-click="ShowPublishdep(item,false,'编辑') " value="编 辑" />
                                <input type="button " class="deletebtn " ng-click="DeletePublishdep(item.id) " ng-show="item.candelete" value="删 除" />
                            </td>
                        </tr>
                        <tr ng-if="roleItems.length==0 ">
                            <td colspan="2 " class="text-center ">无数据</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!isLoaded ">
                        <tr>
                            <td colspan="2 " class="text-center ">
                                <img src="images/loading.gif " />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="home_paging">
                <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                    <span class="ng-binding ">共{{pagerPublishdep.total}}条</span>
                </div>
                <div class="pull-right ">
                    <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerPublishdep.total " ng-model="pagerPublishdep.current " max-size="10 "
                        ng-change="getpublishdep(true) " items-per-page="pagerPublishdep.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                </div>
            </div>
        </div>

        <!--法规标准执行状态管理-->
        <div ng-if="clickTreeValue=='132'" class="posi_re h100">
            <div class="system_userconfig">
                <div class="fl">

                    <input class="home-input w300" type="text" style="margin-left: 0px;" ng-model="systemdata.statusName" maxlength="25" placeholder="请输入状态名称"
                    />
                    <input type="button" class="normalbtn mr10" value="搜 索" ng-click="getStatus()" />
                </div>

                <input type="button" class="normalbtn fr mr10" value="新 增" ng-click="ShowStatus(null,false,'新增')" />
            </div>

            <div class="of" style="height: calc(100% - 100px);">
                <table class="index_table">
                    <thead>
                        <tr>
                            <th>状态名称</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-if="isLoaded">
                        <tr ng-repeat="item in statusItems" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                            <td title="{{item.statusname}} " class="w300 ">{{item.statusname}}</td>
                            <td>
                                <input type="button " class="normalcheckbtn " ng-click="ShowStatus(item,false,'编辑') " value="编 辑" />
                                <input type="button " class="deletebtn " ng-click="DeleteStatus(item.id) " ng-show="item.candelete" value="删 除" />
                            </td>
                        </tr>
                        <tr ng-if="roleItems.length==0 ">
                            <td colspan="2 " class="text-center ">无数据</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!isLoaded ">
                        <tr>
                            <td colspan="2 " class="text-center ">
                                <img src="images/loading.gif " />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="home_paging">
                <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                    <span class="ng-binding ">共{{pagerStatus.total}}条</span>
                </div>
                <div class="pull-right ">
                    <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerStatus.total " ng-model="pagerStatus.current " max-size="10 " ng-change="getStatus(true) "
                        items-per-page="pagerStatus.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                </div>
            </div>
        </div>


        <!--组织机构管理--->
        <div ng-if="clickTreeValue=='141'" class="posi_re">

            <combo-tree tree-data="treeDataOrg" tree-model="clickOrgValue" btn-show="true" img-color="1"></combo-tree>

        </div>

        <!--用户管理-->
        <div ng-if="clickTreeValue=='142'" class="h100">

            <div class="h100 fl" style="width: 240px;">
                <combo-tree tree-data="treeDataOrg" tree-model="clickUserValue" btn-show="false" img-color="1"></combo-tree>
            </div>

            <div class="h100 fl posi_re" style="width: calc(100% - 250px);">

                <div class="system_userconfig">
                    <div class="fl">

                        <input class="home-input w300" type="text" style="margin-left: 0px;" ng-model="userdata.Name" maxlength="25" placeholder="请输入用户姓名"
                        />
                        <input type="button" class="normalbtn mr10" value="搜 索" ng-click="getUsers()" />
                    </div>
                    <div class="fr">
                        <input type="button" class="normalbtn  mr10" value="新 增" ng-click="ShowUser(null,false,'新增')" />
                    </div>



                </div>
                <div class="of" style="height: calc(100% - 100px);">
                    <table class="index_table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>姓名</th>
                                <th>部门</th>
                                <th>邮箱</th>
                                <th>电话</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-if="isLoaded ">
                            <tr ng-repeat="item in userItems" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                                <td title="{{item.username}}">{{item.username}}</td>
                                <td title="{{item.userrealname}} ">{{item.userrealname}}</td>
                                <td title="{{item.orgname}} ">{{item.orgname}}</td>
                                <td title="{{item.email}}">{{item.email}}</td>
                                <td title="{{item.mobile}} ">{{item.mobile}}</td>
                                <td ng-if="item.status==0">
                                    <input type="button " class="checkbtn" ng-click="ShowUser(item,true,'查看') " value="查 看" />
                                    <input type="button " class="normalcheckbtn" ng-click="ShowUser(item,false,'编辑') " value="编 辑" />
                                    <input type="button " class="deletebtn" ng-click="SaveUserStatus(item,'停用',1)" value="停 用" />
                                    <input type="button " class="deletebtn" ng-click="DeleteUser(item)" value="删 除" />
                                </td>
                                <td ng-if="item.status==1">
                                    <input type="button " class="checkbtn" ng-click="ShowUser(item,true,'查看') " value="查 看" />
                                    <input type="button " class="normalcheckbtn" ng-click="SaveUserStatus(item,'恢复',0)" value="恢 复" />
                                </td>
                            </tr>
                            <tr ng-if="userItems.length==0 ">
                                <td colspan="6" class="text-center ">无数据</td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!isLoaded ">
                            <tr>
                                <td colspan="6" class="text-center ">
                                    <img src="images/loading.gif " />
                                </td>
                            </tr>
                        </tbody>


                    </table>
                </div>
                <div class="home_paging">
                    <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                        <span class="ng-binding ">共{{pagerUser.total}}条</span>
                    </div>
                    <div class="pull-right ">
                        <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerUser.total " ng-model="pagerUser.current " max-size="10 " ng-change="getUsers(true) "
                            items-per-page="pagerUser.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                    </div>
                </div>
            </div>

        </div>

        <!--权限管理-->
        <div ng-if="clickTreeValue=='143'" class="posi_re h100">

            <div class="system_userconfig">
                <div class="fl">

                    <input class="home-input w300" type="text" style="margin-left: 0px;" ng-model="userdata.roleName" maxlength="25" placeholder="请输入权限名称"
                    />
                    <input type="button" class="normalbtn mr10" value="搜 索" ng-click="getRoles()" />
                </div>

                <input type="button" class="normalbtn fr mr10" value="新 增" ng-click="ShowRole(null,false,'新增')" />
            </div>

            <div class="of" style="height: calc(100% - 100px);">
                <table class="index_table">
                    <thead>
                        <tr>
                            <th>角色名称</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-if="isLoaded">
                        <tr ng-repeat="item in roleItems" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                            <td title="{{item.rolename}} " class="w300 ">{{item.rolename}}</td>
                            <td>
                                <input type="button " class="checkbtn " ng-click="ShowRole(item,true,'查看') " value="查 看" />
                                <input type="button " class="normalcheckbtn " ng-click="ShowRole(item,false,'编辑') " value="编 辑" />
                                <input type="button " class="deletebtn " ng-click="DeleteRole(item.id) " ng-show="item.candelete" value="删 除" />
                            </td>
                        </tr>
                        <tr ng-if="roleItems.length==0 ">
                            <td colspan="2 " class="text-center ">无数据</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!isLoaded ">
                        <tr>
                            <td colspan="2 " class="text-center ">
                                <img src="images/loading.gif " />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="home_paging">
                <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                    <span class="ng-binding ">共{{pagerRole.total}}条</span>
                </div>
                <div class="pull-right ">
                    <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerRole.total " ng-model="pagerRole.current " max-size="10 " ng-change="getRoles(true) "
                        items-per-page="pagerRole.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                </div>
            </div>

        </div>


        <!--法规管理-->
        <div ng-if="clickTreeValue=='15'">

            <combo-tree tree-data="treeDataReg" tree-model="clickRegValue" btn-show="true" img-color="1" is-extend="true"></combo-tree>

        </div>

        <!--技术文档-->
        <div ng-if="clickTreeValue=='16'">

            <combo-tree tree-data="treeDataTec" tree-model="clickTecValue" btn-show="true" img-color="1" is-extend="true"></combo-tree>

        </div>

        <!--日志查看-->
        <div ng-if="clickTreeValue=='18'" class="posi_re h100">

            <div class="system_userconfig">
                <div class="fl" style=" width: 100%;">

                    <input class="home-input fl" type="text" style="margin-left: 0px;margin-top: 10px;" ng-model="logdata.OperationName" maxlength="25"
                        placeholder="请输入操作名称" />
                    <div class="fl ml10">
                        <span>操作人员:</span>

                        <div isteven-multi-select input-model="userList" output-model="logdata.Userid" button-label="userrealname" item-label="userrealname"
                            tick-property="Selected" search-property='userrealname' output-properties="id" translation="logdata.localLang"
                            max-labels="8" max-height="280px" selection-mode="single" style="width: 140px; float: right; margin-left: 10px;"
                            btn-width="140">
                        </div>
                    </div>
                    <div class="fl m10">
                        <span>操作时间:</span>
                        <input type="text" id="FiledTimeStart" class="case_table_timepicker_input" ng-model="logdata.FiledTimeStart" je-date format="YYYY-MM-DD"
                            readonly />
                        <span style="margin-left: 0px;">至</span>
                        <input type="text" id="FiledTimeEnd" class="case_table_timepicker_input" ng-model="logdata.FiledTimeEnd" je-date format="YYYY-MM-DD"
                            readonly />
                    </div>
                    <input type="button" class="normalbtn fr mr10 mt10" value="搜 索" ng-click="getLogs()" />

                </div>
            </div>

            <div class="of" style="height: calc(100% - 100px);">
                <table class="index_table">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名称</th>
                            <th>组织名称</th>
                            <th>操作名称</th>
                            <th>操作时间</th>
                        </tr>
                    </thead>
                    <tbody ng-if="isLoaded">
                        <tr ng-repeat="item in LogItems" style="height: 40px;cursor: pointer" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                            <td>{{$index+1}}</td>
                            <td title="{{item.username}} ">{{item.username}}</td>
                            <td title="{{item.organizationname}} ">{{item.organizationname}}</td>
                            <td title="{{item.operationname}} ">{{item.operationname}}</td>
                            <td title="{{item.operationtime|changeTime}} ">{{item.operationtime|changeTime}}</td>
                        </tr>
                        <tr ng-if="LogItems.length==0 ">
                            <td colspan="5" class="text-center ">无数据</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!isLoaded ">
                        <tr>
                            <td colspan="5" class="text-center ">
                                <img src="images/loading.gif " />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="home_paging">
                <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                    <span class="ng-binding ">共{{pagerLog.total}}条</span>
                </div>
                <div class="pull-right ">
                    <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerLog.total " ng-model="pagerLog.current " max-size="10 " ng-change="getLogs(true) "
                        items-per-page="pagerLog.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                </div>
            </div>

        </div>

    </div>
</div>