<div class="h100">
    <div class="mt10_mb10" style="height:30px;">
        <input type="button" class="canclelbtn fr ml10 border1ccc" value="返 回" ng-click="goState()" />
    </div>

    <div class="regluation_detail_border">
        <div class="regluation_detail_top">
            <span class="ml10">录入人：{{DetaiData.inputusername}}</span>
            <span class="ml40">录入时间：{{DetaiData.inputdate}}</span>
            <span class="ml40">录入单位：{{DetaiData.inputorgname}}</span>
            <span class="ml40">点击次数：{{DetaiData.clickcount}}</span>
            <span class="ml10">修改人：{{DetaiData.modifyusername}}</span>
            <span class="ml40">修改时间：{{DetaiData.modifyusername?DetaiData.modifydate:''}}</span>


            <div ng-class="{true:'system_hk_yes',false:'system_hk_no'}[DetaiData.istop==1]" ng-if="isTop">
                <div ng-class="{true:'system_hkb_right',false:'system_hkb_left'}[DetaiData.istop==1]" ng-click="clicksfzd(DetaiData)"></div>
            </div>
            <div class="fr" style="width: 50px;" ng-if="isTop">{{DetaiData.istop==1?'已置顶':'置顶'}}</div>

            <div ng-class="{true:'regluation_detail_collect',false:'regluation_detail_nocollect'}[DetaiData.iscollect]" ng-click="favorieLaw()">收藏</div>

        </div>

        <div class="regluation_detail_chinesetitle" title="{{DetaiData.chinesename}}">
            {{DetaiData.chinesename}}
        </div>

        <div class="regluation_detail_englishtitle" title=" {{DetaiData.englishname}}">
            {{DetaiData.englishname}}
        </div>

        <div class="regluation_detail_table">
            <table class="w100">
                <tr height="40px;">
                    <td class="tr">编号:</td>
                    <td class="color_blue">{{DetaiData.code}}</td>
                    <td class="tr">发布部门:</td>
                    <td class="color_blue">{{DetaiData.pubdepname}}</td>
                    <td class="tr">发布日期:</td>
                    <td class="color_blue">{{DetaiData.releasedate|recordtime}}</td>

                </tr>
                <tr height="40px;">
                    <td class="tr">执行状态:</td>
                    <td class="color_blue">{{DetaiData.statusname}}</td>
                    <td class="tr">法规标准类别:</td>
                    <td class="color_blue">{{DetaiData.typename}}</td>
                    <td class="tr">实施日期:</td>
                    <td class="color_blue">{{DetaiData.impdate|recordtime}}</td>
                </tr>
            </table>
        </div>

        <div class="regluation_detail_table2">
            <table class="w100">
                <tr height="50px;">
                    <td class="color_blue first_td">关键字 : </td>
                    <td class="va_topnormal">{{DetaiData.keywords}}</td>
                </tr>
                <tr height="50px;">
                    <td class="color_blue first_td">摘 要 : </td>
                    <td class="va_topnormal" ng-bind-html="DetaiData.summaryinfo|parseHTML"></td>
                </tr>
                <tr height="50px;">
                    <td class="color_blue first_td">引用标准 : </td>
                    <td class="va_topnormal">
                        <ul>
                            <li ng-repeat="item in DetaiData.refence" class="regluation_detail_Reference color_blue">
                                <div ng-click="checkRepalceOrRefence(item)" ng-if="item.approvestatus==3" style="text-decoration: underline;cursor: pointer;">
                                    <span title="编号:{{item.code}} 名称:{{item.chinesename}}">({{item.code}}){{item.chinesename}}</span>
                                </div>
                                <div ng-if="item.approvestatus==4" >
                                    <span title="编号:{{item.code}} 名称:{{item.chinesename}}">({{item.code}}){{item.chinesename}}</span>
                                </div>

                            </li>
                        </ul>
                    </td>
                </tr>
                <tr height="50px;">
                    <td class="color_blue first_td">备 注 : </td>
                    <td class="va_topnormal">{{DetaiData.memo}}</td>
                </tr>
                <tr height="50px;">
                    <td class="color_blue first_td">附 件 : </td>
                    <td class="va_topnormal" style="overflow-y: auto;">
                        <ul>
                            <li ng-repeat="accitem in Attachments" class="regluation_detail_Attachments">

                                <div title="{{accitem.FileName}}"> {{accitem.FileName|tooltips:15}}
                                    <input type="button" class="checkbtn ml20" value="查 看" title="查看" ng-show="canPreview(accitem.FileName)" ng-click="preview(accitem.ID)"
                                    />
                                    <input class="downloadbtn ml10" value="下 载" title="下载" ng-click="downloadAccessory(accitem.ID)" ng-show="isDownload" />
                                </div>

                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

        <div class="regluation_detail_splice"></div>

        <div class="regluation_detail_replace" ng-show="DetaiData.replace&&DetaiData.replace.length>0">代替关系</div>

        <div ng-repeat="item in DetaiData.replace" class="clear">
            <div class="regluation_detail_rep">{{item.statusname}}</div>
            <div class="regluation_detail_replacetext">
                <div style="height: 25px;" title="编号:{{item.code}} 名称:{{item.chinesename}}">({{item.code}}){{item.chinesename}}</div>
                <div>
                    <span class="color999999">发布时间: {{item.releasedate|recordtime}}</span>
                    <span class="ml40 color999999">法规标准类别: {{item.typename}}</span>
                </div>
            </div>
            <div class="regluation_detail_replacebtn" ng-if="item.approvestatus==3">
                <input type="button" class="bluecheckbtn" value="查 看" title="查看" ng-click="checkRepalceOrRefence(item)" />
            </div>
        </div>


    </div>
</div>