<div>

    <div>
        <div ng-class="{true: 'regluation_index_top_select', false: 'regluation_index_top_normal'}[clickValue=='check']" ng-show="ischeckshow">
            <ul>
                <div ng-click="clickValue='check'">法律标准查看</div>
            </ul>
        </div>
        <div ng-class="{true: 'regluation_index_top_select', false: 'regluation_index_top_normal'}[clickValue=='add']" ng-show="ismanageshow">
            <ul>
                <div ng-click="clickValue='add'">法律标准管理</div>
            </ul>
        </div>
        <div class="regluation_index_top_line"></div>
    </div>

    <div class="clear" resize-index-content ng-style="setIndexHeightStyle()">

        <!--法律标准查看-->
        <div ng-if="clickValue=='check'" class="h100">
            <!--树-->
            <div class="regluation_index_left">

                <combo-tree tree-data="treeData" tree-model="clickTreeValue" btn-show="false" img-color="2"></combo-tree>

            </div>

            <!--列表-->
            <div class="regluation_index_right posi_re">
                <!--查询条件-->
                <div>
                    <table class="search_table">
                        <tr height="40">
                            <td>
                                <span class="ml10">编号</span>
                            </td>
                            <td>
                                <input class="home-input" type="text" ng-model="searchdata.Number" maxlength="25" />
                            </td>
                            <td>
                                <span class="ml10">标题</span>
                            </td>
                            <td>
                                <input class="home-input" type="text" ng-model="searchdata.Title" maxlength="25" />
                            </td>
                            <td>
                                发布日期
                            </td>
                            <td colspan="2">
                                <input type="text" id="FiledTimeStart" class="case_table_timepicker_input" ng-model="searchdata.FiledTimeStart" je-date format="YYYY-MM-DD"
                                    readonly />
                                <span style="margin-left: 0px;">至</span>
                                <input type="text" id="FiledTimeEnd" class="case_table_timepicker_input" ng-model="searchdata.FiledTimeEnd" je-date format="YYYY-MM-DD"
                                    readonly />
                            </td>

                        </tr>

                        <tr height="40">
                            <td>
                                <span class="ml10"> 状态</span>
                            </td>
                            <td>
                                <select class="home-select" ng-model="searchdata.State" ng-options=" type.id as type.name for type in StateList">
                                            <option value="">全部</option>
                                </select>
                            </td>

                            <td>
                                <span class="ml10"> 发布部门</span>
                            </td>
                            <td>
                                <select class="home-select" ng-model="searchdata.organization" ng-options=" type.id as type.name for type in PublishList">
                                            <option value="">全部</option>
                                </select>
                            </td>

                            <td>
                                实施日期
                            </td>
                            <td colspan="2">
                                <input type="text" id="MaterialTmeStart" class="case_table_timepicker_input" ng-model="searchdata.MaterialTmeStart" je-date
                                    format="YYYY-MM-DD" readonly />
                                <span style="margin-left: 0px;">至</span>
                                <input type="text" id="MaterialTmeEnd" class="case_table_timepicker_input" ng-model="searchdata.MaterialTmeEnd" je-date format="YYYY-MM-DD"
                                    readonly />
                            </td>
                        </tr>
                        <tr height="40">
                            <td colspan="7">
                                <input type="button" class="normalbtn fr mr10" ng-click="searchinfo()" value="查 询" />
                                <input type="button" class="canclelbtn fr mr10" value="重 置" ng-click="reset()" />
                            </td>

                        </tr>
                    </table>


                </div>
                <!--按钮-->
                <div style="height:40px;">
                    <div class="regluation_search">检索结果</div>
                    <input type="button" class="normalbtn fr mb10 mr10" value="导 出" ng-click="exporeLaw()" />

                    <!--排序-->
                    <div class="fl ml10" style="line-height: 40px;">
                        <span>排序:</span>
                        <select class="home-select" ng-model="searchdata.SearchOrdertype" style="margin-left: 5px;" ng-change="SearchorderTypeChange()">
                          <option value="0">录入时间正序</option>
                          <option value="1">录入时间倒序</option>
                          <option value="2">实施日期正序</option>
                          <option value="3">实施日期倒序</option>
                  </select>
                    </div>

                </div>
                <!--表格-->
                <div style="overflow-y:auto;height: calc(100% - 206px);">
                    <table class="index_table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>标题</th>
                                <th>标准编号</th>
                                <th>状态</th>
                                <th>实施日期</th>
                                <th>录入日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-if="isLoaded">
                            <tr ng-repeat="item in items" style="height: 40px;" ng-click="clicksearchTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRowsearch.selected==$index] ">
                                <td>{{$index+1}}</td>
                                <td title="{{item.chinesename}} " class="w400 " style="text-align: left;">{{item.chinesename| tooltips:26}}</td>
                                <td title="{{item.code}}" style="text-align: left;">{{item.code| tooltips:34 }}</td>
                                <td title="{{item.statusname}} ">{{item.statusname}}</td>
                                <td title="{{item.impdate|recordtime}} ">{{item.impdate |recordtime}}</td>
                                <td title="{{item.inputdate|recordtime}} ">{{item.inputdate |recordtime}}</td>
                                <td>
                                    <input type="button " class="checkbtn" ng-click="Check(item)" value="查 看 " />
                                </td>
                            </tr>
                            <tr ng-if="items.length==0 ">
                                <td colspan="7 " class="text-center ">无数据</td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!isLoaded ">
                            <tr>
                                <td colspan="7" class="text-center ">
                                    <img src="images/loading.gif " />
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="home_paging">
                    <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                        <span class="ng-binding ">共{{pager.total}}条</span>
                    </div>
                    <div class="pull-right ">
                        <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pager.total " ng-model="pager.current " max-size="10 " ng-change="searchinfo(true) "
                            items-per-page="pager.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                    </div>
                </div>

            </div>

        </div>

        <!--法律标准管理-->
        <div ng-if="clickValue=='add'" class="h100 posi_re">

            <!--查询-->
            <div class="regluation_manage_searcharea">
                <div class="fl">
                    <select class="home-select" ng-model="searchdata.ApproveStatus" style=" width: 100px;">
                          <option value="">全部</option>
                          <option value="1">草稿</option>
                          <option value="2">已提交待审核</option>
                          <option value="3">发布</option>
                  </select>
                </div>
                <div class="fl ml10">
                    <span>是否批量导入:</span>
                    <select class="home-select" ng-model="searchdata.IsBatch" style="margin-left: 5px;width: 100px;">
                          <option value="">全部</option>
                          <option value="1">是</option>
                          <option value="0">否</option>
                  </select>
                </div>
                <div class="fl ml10">
                    <span>录入人员:</span>
                    <div isteven-multi-select input-model="userList" output-model="searchdata.selectInputUser" button-label="userrealname" item-label="userrealname"
                        tick-property="Selected" search-property='userrealname' output-properties="id" translation="localLang" 
                        max-labels="8" max-height="280px" selection-mode="single" style="width: 140px; float: right; margin-left: 10px;" btn-width="140">
                    </div>
                </div>

                <div class="fl posi_re ml10">
                    <span class="fl">类别选择</span>
                    <combo-tree-select style="width:170px;float:left" tree-data="treeData" is-normal="180" tree-width="300" tree-model="managetreedata.TreeValue"
                        btn-show="false" img-color="2" is-disable="false"></combo-tree-select>
                </div>
                <div class="fl ml10">
                    <input class="home-input w300" type="text" style="margin-left: 20px;" ng-model="searchdata.KeyWords" maxlength="25" placeholder="请输入关键字"
                    />

                    <input type="button" class="normalbtn mr10" value="查 询" ng-click="searchManage()" />
                </div>
            </div>

            <!--操作-->
            <div class="mt10_mb10" style="height: 30px;">
                <input type="button" class="normalbtn fl ml10" ng-click="Add()" value="新 增" />
                <a class="downbtn fl ml10" href="/download/lawTempele.xls" title="下载模板" style="text-decoration: none;padding-top: 6px;color:#fff">下载模板</a>

                <div class="normalbtn fl ml10 posi_re">

                    <input id="uploader_input" type="file" class="attachment_upload_input" type="file" ngf-select ng-model="file" name="file"
                        ngf-pattern="'.xls'" ngf-accept="'.xls'" ngf-max-size="200MB" ng-change="defaultName(file)" />
                    <div class="reg_dr">批量导入</div>
                </div>

                <input type="button" class="deletebtn fl ml10" ng-click="DeleteAll()" value="批量删除" ng-show="item.approvestatus==1||isLawMaintain" />

                <!--排序-->
                <div class="fl ml10">
                    <span>排序:</span>
                    <select class="home-select" ng-model="searchdata.Ordertype" style="margin-left: 5px;" ng-change="orderTypeChange()">
                          <option value="0">录入时间正序</option>
                          <option value="1">录入时间倒序</option>
                          <option value="2">修改时间正序</option>
                          <option value="3">修改时间倒序</option>
                  </select>
                </div>

                <!--<input type="button" class="normalbtn fl ml10" ng-click="updateLawCode()" value="更新编号" />-->

                <input type="button" class="deletebtn fr mr10" value="删 除" ng-click="deleteLaw()" ng-show="selectItem.approvestatus==1||isLawMaintain"
                />
                <input type="button" class="normalcheckbtn fr mr10" ng-click="Edit()" value="编 辑" ng-show="selectItem.approvestatus!=2" />
                <input type="button" class="normalbtn fr mr10" value="审核信息" ng-click="Exam()" ng-show="selectItem.isapprove" />

            </div>

            <div style="overflow-y:auto;height: calc(100% - 135px);">
                <table class="index_table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-click="clickAll()" ng-checked="selectAll" ng-show="item.approvestatus==1||isLawMaintain"/></th>
                            <th>序号</th>
                            <th>标题</th>
                            <th>标准编号</th>
                            <th>类别</th>
                            <th>是否批量导入</th>
                            <th>信息状态</th>
                            <th>录入日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-if="isManageLoaded">
                        <tr ng-repeat="item in itemManages" style="height: 40px;" ng-click="clickTable($index);" ng-class="{true: 'tr_selected',false: ''}[tableRow.selected==$index] ">
                            <td>
                                <input type="checkbox" ng-checked="item.IsCheck" ng-click="clickSingle(item)" ng-show="item.approvestatus==1||isLawMaintain" />
                            </td>
                            <td>{{$index+1}}</td>
                            <td title="{{item.chinesename}} " style="text-align: left;" class="w400 ">{{item.chinesename| tooltips:30}}</td>
                            <td title="{{item.code}} " style="text-align: left;">{{item.code| tooltips:26 }}</td>
                            <td title="{{item.typename}} ">{{item.typename| tooltips:13 }}</td>

                            <td title="{{item.isbatch&&item.isbatch==1?'是':'否'}} ">{{item.isbatch&&item.isbatch==1?'是':'否'}}</td>
                            <td title="{{item.approvestatus|approvestatus}} ">{{item.approvestatus|approvestatus }}</td>
                            <td title="{{item.inputdate|recordtime}} ">{{item.inputdate |recordtime}}</td>
                            <td>
                                <input type="button " class="checkbtn" ng-click="Check(item)" value="查 看 " />
                            </td>
                        </tr>
                        <tr ng-if="itemManages.length==0 ">
                            <td colspan="9" class="text-center ">无数据</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!isManageLoaded ">
                        <tr>
                            <td colspan="9" class="text-center ">
                                <img src="images/loading.gif " />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="home_paging">
                <div class="pagination-info " style="display: inline-block;margin-top: 12px; margin-left: 10px;">
                    <span class="ng-binding ">共{{pagerManage.total}}条</span>
                </div>
                <div class="pull-right ">
                    <uib uib-pagination rotate="true " boundary-link-numbers="true " boundary-links="false
                                " total-items="pagerManage.total " ng-model="pagerManage.current " max-size="10 " ng-change="searchManage(true) "
                        items-per-page="pagerManage.size " class="pagination-sm
                                " previous-text="上页 " next-text="下页 " first-text="首页 " last-text="末页 "></uib>
                </div>
            </div>

        </div>

    </div>



</div>