
.announcementMenu {
    background: #fff;
    border: 0 none;
}

.announcementMenu li {
    display: block;
    border-top: 1px solid #ccc;
 }
 .announcementMenu li:last-child{
     border-bottom: 1px solid #ccc;
 }

.announcementMenu a {
        background: #fff;
        font-size: 14px;
        text-align: left;
        display: block;
        text-decoration: none;
        color: #363636;
        font-weight: normal;
        padding: 5px 16px 5px 16px;
        line-height: 20px;
        height:50px;
}

 .announcementMenu a:hover {
            background: #3385ff;
            color:#fff ;
        }

.announcementMenu .active a {
        background: #072b7b;
        color:#fff ;
    }

.regulationmenu {
    background: #fff;
    border: 0 none;
}

.regulationmenu li {
        display: block;
        border-top: #ccc solid 1px;
 }
 .regulationmenu li:last-child{
     border-bottom: 1px solid #ccc;
 }
.regulationmenu a {
        background: #fff;
        font-size: 14px;
        text-align: left;
        display: block;
        text-decoration: none;
        color: #363636;
        font-weight: normal;
        padding: 9px 16px 8px 16px;
    }
.regulationmenu a:hover {
            background: #3385ff;
            color:#fff ;
        }

.regulationmenu .active a {
        background: #072b7b;
        color:#fff ;
    }

.regulationItemmenu a{
        background: #fff;
        font-size: 14px;
        text-align: left;
        display: block;
        text-decoration: none;
        color: #363636;
        font-weight: normal;
        padding: 9px 16px 8px 16px;
    }

.regulationItemmenu .active a {
        background: #c3e5f6;
    }

.TitleDirectory{
        background: #fff;
        height:60px;
    }

.TitleDirectory a{        
        font-size: 14px;
        text-align: left;
        text-decoration: none;
        color: #1e4aa4;
        font-weight: normal;
        padding: 9px 16px 8px 16px;
    }
   .TitleDirectory span{
        font-size: 14px;
        color: #072b7b;
        font-weight:bolder;
   }
   .TitleItemList li{
        display: block;
   }
   .TitleItemList a {
        background: #fff;
        font-size: 14px;
        text-align: left;
        display: block;
        text-decoration: none;
        color: #363636;
        font-weight: normal;
        padding: 9px 16px 8px 16px;
        height:60px;
    }
    .TitleItemList .active a {
            background: #3385ff;
            color:#fff ;
        }
    .selectItem{
        background: #072b7b;
        color:#fff ;
        height:70px;
        padding: 9px 16px 8px 16px;
        }
    .returnDirectory {
        background: #fff url(../../images/map/back_arrow.png) no-repeat 5px center;
        background-size: 6px 12px;
    }

    .returnDirectory:hover {
        background: #fff url(../../images/map/back_arrow_h.png) no-repeat 5px center;
        background-size: 6px 12px;
    }