html, body {
    height: 100%;
    overflow: hidden;
    font: 14px arial,'Microsoft YaHei',sans-serif;
    /*max-height: 1080px;*/
    max-width: 1920px;
    margin: 0 auto;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    background-color: #fff;
    color: #363636;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

a, input, select {
    font-size: 14px;
}

input, button, select, textarea {
    outline: 0 none;
}

select{
width: 180px;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
height: 30px;
border: 1px #e5e5e5 solid;
padding:0 10px;
background: url('../../images/xlk_but_down.png')  no-repeat scroll right 5px center transparent;
line-height: 30px;
}
 select::-ms-expand { display: none; }


textarea {
    resize: none;
}

form, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: outside none none;
}

img, table {
    border: 0 none;
}

a {
    color: #00c;
    cursor: pointer;
    outline: 0 none;
    text-decoration: underline;
}

.clear {
    clear: both;
}